#!/usr/bin/env bash
{{#warnings}}
# Warning: {{.}}
{{/warnings}}
set -euo pipefail
{{#hasOutputFile}}

exec > {{outputFile}}
{{/hasOutputFile}}

{{command}} \
  | mlr --icsv --ocsv cut -o -f {{columns}}
